obj/
test_emu88
freedos_cli
*.o
*~
.DS_Store
build/
debug_boot
debug_boot.dSYM/
debug.log
iosFreeDOS.xcodeproj/
Local.xcconfig
fd/x86*.img
fd/*_dev.img
fd/freedos_hd.img
fd/freedos_games.img
fd/*.iso
fd/freedos.img
fd/games/
fd/GAMES.TXT
dos/*.com
*.log
docs/
